
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #222;
}

#percent {
  font: 300px Arial;
  font-weight: bold;
  text-align: center;
  color: #222;
  text-shadow: 0 10px #777;
}

#text {
  color: #555;
  text-align: center;
}

#stats {

}

a,
a:hover,
a:visited {
  color: #00a;
  text-decoration: underline;
}
